<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap"
			rel="stylesheet"
		/>

		<title>BloX - modern IT blog</title>
		<link rel="stylesheet" href="./styles/index.css" />
	</head>
	<body>
		<div class="container">
			<header></header>

			<main>
				<div class="nav-container">
					<div class="logo">
						<p>BloX</p>
						<span>modern IT blog</span>
					</div>

					<div class="nav-btns">
						<div id="nav-about" class="nav-btn">
							<p>About</p>
						</div>
						<div id="nav-blocks" class="nav-btn active">
							<p>blocks</p>
						</div>
					</div>
				</div>

				<div class="main-container">
					<div class="main-image">
						<img src="./assets/images/jack_blue.png" alt="" />
					</div>
					<div class="main-image-underline"></div>
				</div>

				<div class="posts">
					<div class="post-container">
						<div class="post-header">
							<div class="header-before-line"></div>
							<p>Docker Image <span>NEW</span></p>
							<div class="header-after-line"></div>
						</div>

						<div class="post-text">
							<p>
								Docker Desktop can be used for free as part of a Docker Personal
								subscription for: small companies (fewer than 250 employees AND
								less than $10 million in annual revenue), personal use,
								education, and non-commercial open source projects. Docker
								Desktop requires a per user paid Pro, Team or Business
								subscription for professional use in larger companies with
								subscriptions available for as little as $5 per month.
							</p>
						</div>

						<div class="post-img">
							<img src="./assets/images/" alt="" />
						</div>

						<div class="post-number">
							<p>01.</p>
						</div>

						<div class="post-date">
							<p>24 February 2022</p>
						</div>
					</div>
				</div>
			</main>

			<footer></footer>
		</div>
	</body>
</html>
